.directoryCon {
  display: grid;
  grid-template-columns: 25% 75%;
}

.directoryCon > aside {
  margin: 2rem auto;
  height: 80vh;
  padding: 1rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  position: sticky;
  top: 2rem;
}

.directoryList {
  list-style: none;
  padding-left: 1rem;
}

.sectionLink a {
  font-weight: 600;
  color: var(--red);
  font-size: 21px;
  transition: all 0.5s ease-in;
}

.sectionLink a:hover {
  text-decoration: underline;
}

.pageLink a {
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;
}

.pageLink {
  margin: var(--spacing-two) 0;
  font-weight: 500;
}

.sectionTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 21px;
  height: auto;
  color: var(--red);
}