.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0 1rem;
}

.heroImg {
  min-width: 50%;
}

.heroTxt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.highlightCon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--blue);
  border-radius: 20px;
  padding: 2.5rem 0;
}

.highlightBox {
  padding: 0 2rem;
  text-align: center;
  color: var(--light);
}

.highlightBox a {
  text-decoration: underline;
  transition: all 0.2 ease-in-out;
}

.highlightBox a:hover {
  opacity: 80%;
}

.borders {
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

.noteFrom {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
