.table table {
  border-collapse: collapse;
  border: 1px solid var(--txt-color);
}

.table td {
  border-collapse: collapse;
  border: 1px solid var(--txt-color);
}

.table > tbody {
  border-radius: 5px;
}

.table td {
  padding: 0.5rem;
  text-align: left;
}